
<div class="col-sm-12">
<% if @rating.errors.any? %>
  <div class="alert alert-warning">
    <h2>Some errors kept this rating from being saved:</h2>
    <ul>
      <% @rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [@food, @rating] do |f| %>
  <div class="form-group">
    <%= f.label :menu_id %>
    <%= f.collection_select :menu_id, @spots.order(:name), :id, :name, { include_blank: true }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :criteria_id %>
    <%= f.collection_select :criteria_id, Criteria.order(:criteria_desc), :id, :criteria_desc, { include_blank: true }, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label :rating_stars %>
    <%= f.select :rating_stars, [1,2,3,4,5], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :comments %>
    <%= f.text_area :comments, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :visit_date %>
    <%= f.date_field :visit_date, class: "form-control" %>
  </div>
  <%= f.button 'Post Your Review', class: "btn btn-success" %>
<% end %>