
<div class="jumbotron text-center">
  <h1> This is where we add new foods to track </h1>
</div>


<!-- This isn't working - I keep getting ActionController::Invalid AuthenticityToken in FoodsController#create  -->


<%= form_for @food do |form| %>
  <div class="form-group">
    <%= form.label :category %>
    <%= form.text_field :category, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control" %>
  </div>
  <%= form.button 'Create Food', class: "btn btn-success" %>
<% end %>
<!--  placeholder: "Name of the Food or Drink Category"  -->